* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #fafafa;
}

main {

  margin: 0 110px;

}

/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 40px;  
  height: auto;  
}

.nav-links a {
  margin-left: 2rem;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}




/* ****************************************************************************************/


.first-space{
  height: 90px;
  border: 1px solid black;
}

.hero{
  height: 100px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

