@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ___Colours__ */


  /* __Border__ */
  --border-color: #e3e5e8;

  /* __Font__ */
  --font-family: 'Geist', sans-serif;

  /* __navbar*/
  --navlink-size: 14px;
  --navbar-color: #6c7280;
  --navbar-active-color: #0e172a;
}

main{
  height: 150vh;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.shape{
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      45deg,
      #e3e5e8,
      #dcdcdc 2px,
      #f4f4f4 2px,
      #f4f4f4 5px
  );
}

.main{
  /* background-color: red; */
  margin: 0 110px;
  /* height: 300vh; */
  margin-bottom: 1000px;
}

nav{
  /* background-color: blue; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 0.5px solid var(--border-color);
}

.logo{
  height: 35%;
}

.logo img{
  height: 100%;
  width: auto;
}

.navLinks ul{
  display: flex;
  gap: 25px;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 35px;
}

.navLinks ul li{
  list-style: none;
}

.navLinks ul li a{
  text-decoration: none;
  color: var(--navbar-color);
  font-family: var(--font-family);
  font-size: var(--navlink-size);
  font-weight: 500;
  
}

.navLinks ul li a.activeLink{
  color: var(--navbar-active-color);
}

.socialIcons{
  display: flex;
  gap: 10px;
  background-color: #3c3c3f;
  padding: 10px;
  border-radius: 30px;
}

.socialIcons a{
  font-size: 15px;
  color: white;
}

.first-space{
  height: 65px;
  border: 1px solid var(--border-color);
}

.collection-txt{
  font-size: 26px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  border: 1px solid var(--border-color);

}

.second-space{
  height: 65px;
  border: 1px solid var(--border-color);
}

.main-img{
  height: 100vh;
  display: flex;
  border: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;


}

.main-img img{
  height: 100%;
  width: auto;
  border-radius: 20px;
  border: 1px ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

.third-space{
  height: 65px;
  border: 1px solid var(--border-color);
}

.conference-txt{
  font-size: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  border: 1px solid var(--border-color);
}

.Commit h1{
  font-size: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  margin-bottom: 10px;
}

.paragraph1{
  font-family: var(--font-family);
  color: var(--navbar-color);
  margin-bottom: 4px;
}

.paragraph2{
  font-family: var(--font-family);
  color: var(--navbar-color);
  margin-bottom: 10px;
}


