@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: black;
  --secondary-color: #0a0a0ab3;
  --heading-color: #4f47e5;
  --border-color: #e7e8eb;
  --border-color-dark: #d6dade;
  --border-radius: 15px;
  --font-family: 'Geist', sans-serif;
  --heading-font-size: 1rem;
  --text-font-size: 35px;
  --navlink-size: 14px;
  --navbar-color: #6c7280;
  --navbar-active-color: #0e172a;
  --newsletter-bg-color: #3c3c3f;
  --newsletter-font-color: #f9fafc;
  --newsletter-sec-font-color: #b9bcc2;
}

main{
  display: grid;
  grid-template-columns: 40px 1fr 40px;
}

.shape{
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      45deg,
      #e3e5e8,
      #dcdcdc 2px,
      #f4f4f4 2px,
      #f4f4f4 5px
  );
}

.main{
  /* background-color: red; */
  margin: 0 110px;
  /* height: 300vh; */
}

nav{
  /* background-color: blue; */
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 0.5px solid var(--border-color);
}

.logo{
  height: 35%;
}

.logo img{
  height: 100%;
  width: auto;
}

.navLinks ul{
  display: flex;
  gap: 25px;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 35px;
}

.navLinks ul li{
  list-style: none;
}

.navLinks ul li a{
  text-decoration: none;
  color: var(--navbar-color);
  font-family: var(--font-family);
  font-size: var(--navlink-size);
  font-weight: 500;
  
}

.navLinks ul li a.activeLink{
  color: var(--navbar-active-color);
}

.socialIcons{
  display: flex;
  gap: 10px;
  background-color: #3c3c3f;
  padding: 10px;
  border-radius: 30px;
}

.socialIcons a{
  font-size: 15px;
  color: white;
}

.first-space{
  height: 65px;
  border: 1px solid var(--border-color);
}

.collection-txt{
  font-size: 26px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  border: 1px solid var(--border-color);

}

.second-space{
  height: 65px;
  border: 1px solid var(--border-color);
}

.mainimage{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.main-img{
  width: 80%;
  height: 100vh;
}

.main-img img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.third-space{
  height: 65px;
  border: 1px solid var(--border-color);
}

.Conference-txt{
  height: auto;
  font-family: var(--font-family);
  border: 1px solid var(--border-color);
  padding: 0px 118px;
  margin-bottom: 65px;
}

.Commit h1{
  font-size: 22px;
  font-family: var(--font-family);
  font-weight: 400;
  padding-bottom: 10px;
  background: var(--background1);
}

.paragraph{
  font-family: var(--font-family);
  color: var(--navbar-color);
  padding-bottom: 4px;
  background: var(--background1);
}

.paragraph1{
  font-family: var(--font-family);
  color: var(--navbar-color);
  padding-bottom: 10px;
  background: var(--background1);
}

.paragraph2{
  font-family: var(--font-family);
  color: #4F47E5;
  padding-bottom: 10px;
  background: var(--background1);
}

.paragraph2 a{
    text-decoration: none;
    font-family: var(--font-family);
}


.mainimage2{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.main-img2{
  width: 80%;
  height: 100vh;
}

.main-img2 img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 65px;
}

.Conference-txt1{
  height: auto;
  font-family: var(--font-family);
  border: 1px solid var(--border-color);
  padding: 0px 118px;
  
}

footer{
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--border-color-dark);
}

.footerLeft{
  height: 100%;
  width: 100%;
  border-bottom: 1px solid var(--border-color-dark);
  border-left: 1px solid var(--border-color-dark);
}

.footerRight{
  height: 100%;
  width: 100%;
  border-right: 1px solid var(--border-color-dark);
  border-bottom: 1px solid var(--border-color-dark);
}

.footerContent{
  width: 250px;
  height: 100%;
  margin: 20px 0 20px 70px;
}

.footerlogo{
  width: 40px;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footerlogo img{
  width: 100%;
  height: 100%;
}

footer h3{
  font-size: 14px;
  font-weight: 400;
  color: #656a72;
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  font-weight: 400;
  color: #656a72;
}

.footerRight {
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--border-color-dark);
  border-right: 1px solid var(--border-color-dark);
  border-bottom: 1px solid var(--border-color-dark);
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 60px;
}

.footerRight .one,
.footerRight .two,
.footerRight .three {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footerlinkheading h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  margin: 0;
  letter-spacing: -0.02em;
}

.footerlinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footerlinks li {
  margin: 0;
}

.footerlinks a {
  color: #666;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.2s ease;
  display: inline-block;
}

.footerlinks a:hover {
  color: #1a1a1a;
}

.shapeFooter {
  width: 100%;
  height: 30px;
  background: repeating-linear-gradient(
      45deg,
      #e3e5e8,
      #dcdcdc 1px,
      #f4f4f4 1px,
      #f4f4f4 4px
  );
  border-left: 1.5px solid var(--border-color);
  border-right: 1.5px solid var(--border-color);
}