@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body{
  background-color: #f7f7f8;
}

:root {
  /* ___Colours__ */


  /* __Border__ */
  --border-color: #e7e8eb;

  /* __Font__ */
  --font-family: 'Geist', sans-serif;

  /* __navbar*/
  --navlink-size: 14px;
  --navbar-color: #6c7280;
  --navbar-active-color: #0e172a;
}


.main{
  /* background-color: red; */
  margin: 0 110px;
  height: 300vh;
}

nav{
  /* background-color: blue; */
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1.5px solid var(--border-color);
}

.logo{
  height: 35%;
  width: 6.5em;
}

.logo img{
  height: 100%;
  width: auto;
}

.navLinks ul{
  display: flex;
  gap: 25px;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 35px;
}

.navLinks ul li{
  list-style: none;
}

.navLinks ul li a{
  text-decoration: none;
  color: var(--navbar-color);
  font-family: var(--font-family);
  font-size: var(--navlink-size);
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.navLinks ul li a:hover{
  color: var(--navbar-active-color);
  transition: 0.3s ease-in-out;
}

.navLinks ul li a.activeLink{
  color: var(--navbar-active-color);
}

.socialIcons{
  display: flex;
  gap: 10px;
  background-color: #3c3c3f;
  padding: 10px;
  border-radius: 30px;
  width: 6.5em;
}

.socialIcons a{
  font-size: 15px;
  color: #979da8;
}

.content{
  background-color: #f7f7f8;
}

main{
  height: 150vh;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}

.shape {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      45deg,
      #e3e5e8,
      #dcdcdc 1px,
      #f4f4f4 1px,
      #f4f4f4 4px
  );
  border-left: 1.5px solid var(--border-color);
  border-right: 1.5px solid var(--border-color);
}






.empty-space{
  height: 65px;
  border: 0.5px solid var(--border-color);
}

.first-text{
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  margin-bottom: 65px;
}

.text1{
  padding-top: 4px;
  color: #0E172A;
  font-weight: 100;
  font-size: 30px;
}

.text2{
  padding-top: 4px;
  color: #0E172A;
  font-weight: 100;
  font-size: 30px;
}


.hero{
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color) ;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 13px;
  padding-left: 3px;
}

.img1{
  border: 1px solid var(--border-color);
  border-radius: 25px;
}

.img-1{
  height: 250px;
  width: 400px;
  /* background-color: #0E172A; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;


}

.img-1 img{
  height: 100%;
  width: 95%;
  border-radius: 25px;
}

.img2{
  border: 1px solid var(--border-color);
  border-radius: 25px;
}

.img-2{
  height: 250px;
  width: 400px;
  /* background-color: #0E172A; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;

}

.img-2 img{
  height: 100%;
  width: 95%;
  border-radius: 25px;
}

.img-3{
  height: 250px;
  width: 400px;
  /* background-color: #0E172A; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}

.img3{
  border: 1px solid var(--border-color);
  border-radius: 25px;
}

.img-3 img{
  height: 100%;
  width: 95%;
  border-radius: 25px;
}

.hero-txt{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 25px;
}

.hero-txt1{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
}


.hero-txt2{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
  padding-bottom: 25px;
}

.hero-para{
  font-family: var(--font-family);
  color: var(--navbar-color);
  font-weight: 400;
  padding-left: 20px;
  padding-bottom: 25px;
}

.categories{
    /* border-bottom: 1px dashed var(--border-color); */
    padding-bottom: 25px;
}

.h3-cate{
  padding-top: 65px;
  font-family: var(--font-family);
  padding-left: 20px;
}
.h3-cate h3{
  font-weight: 400;
}

.anchor-tags{
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.anchor-tags a{
  text-decoration: none;
  color: #64748B;
  font-family: var(--font-family);
  font-size: 15px;
}

.anchor-tags a:hover{
  color: #0E172A;
}

.grid-bolte{
  /* padding-top: 10px; */
  display: grid;
  grid-template-columns: 230px 150px 1fr;
  grid-template-rows: 10;
  gap: 2px;
}

.date{
  /* background-color: #0E172A; */
  height: 170px;
  border: 1.5px dashed var(--border-color);
}

.date p,h3{
  font-weight: 100;
  font-size: 20px;
}


.col2{
  /* background-color: #0E172A; */
  height: 170px;
  border: 1.5px dashed var(--border-color);
  
}

.review{
  /* background-color: #0E172A; */
  height: 170px;
  border: 1.5px dashed var(--border-color);
}








