@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f7f8;
}

:root {
  /* ___Colours__ */


  /* __Border__ */
  --border-color: #e7e8eb;

  /* __Font__ */
  --font-family: 'Geist', sans-serif;

  /* __navbar*/
  --navlink-size: 14px;
  --navbar-color: #6c7280;
  --navbar-active-color: #0e172a;
}


.main{
  /* background-color: red; */
  margin: 0 110px;
  height: 300vh;
}

nav{
  /* background-color: blue; */
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1.5px solid var(--border-color);
}

.logo{
  height: 35%;
  width: 6.5em;
}

.logo img{
  height: 100%;
  width: auto;
}

.navLinks ul{
  display: flex;
  gap: 25px;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 35px;
}

.navLinks ul li{
  list-style: none;
}

.navLinks ul li a{
  text-decoration: none;
  color: var(--navbar-color);
  font-family: var(--font-family);
  font-size: var(--navlink-size);
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.navLinks ul li a:hover{
  color: var(--navbar-active-color);
  transition: 0.3s ease-in-out;
}

.navLinks ul li a.activeLink{
  color: var(--navbar-active-color);
}

.socialIcons{
  display: flex;
  gap: 10px;
  background-color: #3c3c3f;
  padding: 10px;
  border-radius: 30px;
  width: 6.5em;
}

.socialIcons a{
  font-size: 15px;
  color: #979da8;
}

.content{
  background-color: #f7f7f8;
}

main{
  height: 150vh;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}

.shape {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      45deg,
      #e3e5e8,
      #dcdcdc 1px,
      #f4f4f4 1px,
      #f4f4f4 4px
  );
  border-left: 1.5px solid var(--border-color);
  border-right: 1.5px solid var(--border-color);
}






.empty-space{
  height: 65px;
  border: 0.5px solid var(--border-color);
}

.first-text{
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  margin-bottom: 65px;
}

.text1{
  padding-top: 4px;
  color: #0E172A;
  font-weight: 100;
  font-size: 30px;
}

.text2{
  padding-top: 4px;
  color: #0E172A;
  font-weight: 100;
  font-size: 30px;
}

