@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f7f8;
}

:root {
  /* ___Colours__ */
  --primary-color: black;
  --secondary-color: #0a0a0ab3;


  /* __Border__ */
  --border-color: #e7e8eb;

  /* __Font__ */
  --font-family: 'Geist', sans-serif;

  /* __navbar*/
  --navlink-size: 14px;
  --navbar-color: #6c7280;
  --navbar-active-color: #0e172a;
}


.main{
  /* background-color: red; */
  margin: 0 110px;
  height: 300vh;
}

nav{
  /* background-color: blue; */
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1.5px solid var(--border-color);
}

.logo{
  height: 35%;
  width: 6.5em;
}

.logo img{
  height: 100%;
  width: auto;
}

.navLinks ul{
  display: flex;
  gap: 25px;
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 35px;
}

.navLinks ul li{
  list-style: none;
}

.navLinks ul li a{
  text-decoration: none;
  color: var(--navbar-color);
  font-family: var(--font-family);
  font-size: var(--navlink-size);
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.navLinks ul li a:hover{
  color: var(--navbar-active-color);
  transition: 0.3s ease-in-out;
}

.navLinks ul li a.activeLink{
  color: var(--navbar-active-color);
}

.socialIcons{
  display: flex;
  gap: 10px;
  background-color: #3c3c3f;
  padding: 10px;
  border-radius: 30px;
  width: 6.5em;
}

.socialIcons a{
  font-size: 15px;
  color: #979da8;
}

.content{
  background-color: #f7f7f8;
}

main{
  height: 150vh;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
}

.shape {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      45deg,
      #e3e5e8,
      #dcdcdc 1px,
      #f4f4f4 1px,
      #f4f4f4 4px
  );
  border-left: 1.5px solid var(--border-color);
  border-right: 1.5px solid var(--border-color);
}


.mainImage{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.mainImage img{
  height: 100px;
  border-radius: 50%;
}

.mainimg{
  position: absolute;
}

.mainImageSvg{
  position: relative;
}

.heading h1{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  border-bottom: 1px solid var(--border-color);
}

.para{
  margin-top: 40px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para h3{
  font-weight: 400;
  font-family: var(--font-family);
  width: 800px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.5rem;
}

.imageStack{
  /* background-color: rgba(255, 0, 0, 0.45); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.images{
  width: 230px;
  height: 230px;
  border-radius: 15px;
  margin-right: -40px;
}

.img-1{
  transform: rotate(-5deg);
  z-index: 6;
  margin-top: -40px;
}

.img-2{
  transform: rotate(-2deg);
  z-index: 5;
}

.img-3{
  transform: rotate(5deg);
  z-index: 4;
}

.img-4{
  transform: rotate(2deg);
  z-index: 3;
  margin-top: -40px;
}

.img-5{
  transform: rotate(-5deg);
  z-index: 2;
  margin-top: 30px;
}
